
/* Color palette:
  #222629- background
  #25274D
  #464866
  #AAABB8
  #2E9CCA
  #29648A
*/
body{
  background-color: white;/*#1B1716;/*#222629*/
  margin:0;
  padding: 0;
}
header.siteLogo{
  float: left;
}
.siteLogo p{
  padding: 12px 12px;
  margin:0;
  color: white;
  font-family: arial;
  font-size: 30px;
  border-right: .5px dashed #ACAA9E;
}
nav.siteNavigation{
  width: 100%;
  height:60px;
  background-color: #252120;/*#141414;#252120;#3b3e42;*/
  border-bottom:  .5px dashed #ACAA9E;
}
.siteNavigation ul{
  margin: 0;
}
.siteNavigation ul#leftMenu{
  padding: 0 0 0 0px;
  float: left;
}
.siteNavigation ul#leftMenu li{
  float: left;
  list-style: none;
  position: relative;
}
.siteNavigation ul#leftMenu li a{
  display: block;
  padding: 20px 5px 15px 5px;
  color: white;
  font-family: arial;
  font-size: 20px;
  text-decoration: none;
  font-style: italic;
}

.siteNavigation ul#leftMenu li ul{
  background-color: #252120;
  display: block;
  position: absolute;
  padding: 0;
  border-radius: 0 0 12px 12px;
  opacity:0;
  transition: opacity .5s ease-out;
}
.siteNavigation ul#leftMenu li:hover ul{
  display: block;
  opacity: 1;
}
.siteNavigation ul#leftMenu li ul li{
  width: 180px;
}
.siteNavigation ul#leftMenu li ul li a{
  display: block;
  padding: 20px 10px;
  color: white;
  font-family: arial;
  font-size: 20px;
  text-decoration: none;
}
.siteNavigation ul#leftMenu li ul li:last-child a{
  border-radius: 0 0 12px 12px;
}

.siteNavigation  a:hover{
  background-color: #A22133;
  transition: background-color .3s ease;
}
.siteNavigation ul#rightMenu{
  padding: 0 0px 0 0;
  float: right;
}
.siteNavigation ul#rightMenu li{
  float: left;
  list-style: none;
  padding: 0 10px;
  position: relative;
}
.siteNavigation ul#rightMenu li p{
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.siteNavigation ul#rightMenu li p span{
  color:#e0213c;
  font-size: 20px;
  font-style: italic;
}
.siteNavigation ul#rightMenu li img{
  padding: 5px 10px 0 0;
  width: 50px;
  height: auto;
  cursor: pointer;
}
.siteNavigation ul#rightMenu li ul{
  display:block;
  background-color: #252120;
  position: absolute;
  right: 0;
  border-radius: 0 0 12px 12px;
  padding: 0;
  opacity: 0;
}
.siteNavigation ul#rightMenu li:hover ul{
  display: block;
  opacity: 1;
  transition: opacity .5s ease-out;
}
.siteNavigation ul#rightMenu li ul li{
  display: block;
  padding: 0;
}
.siteNavigation ul#rightMenu li ul li a{
  display: block;
  width: 60px;
  padding: 10px 20px;
  color: white;
  font-family: arial;
  font-size: 20px;
  text-decoration: none;
  font-style: italic;
}
.siteNavigation ul#rightMenu li ul li:last-child a{
  border-radius: 0 0 12px 12px;
}
a.active{
  background-color: #A22133;
}
div.mainContent{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}
div table.customTable{
  width:1000px;
  align-self: baseline;
  border: 2px dashed #ACAA9E;

}
.customTable th{
  margin: 0;
  padding: 5px 5px ;
  background-color: #A22133;
  color: white;
  font-size: 18px;
  font-style: italic;
  cursor: pointer;
}
.customTable th:hover{
  color: yellow;
  transition: color .5s ease;
}
.customTable tr:nth-child(odd){
  background-color: #ffdbe0;
}
.customTable td p{
  margin:0;
  padding: 0;
}
.shared{
  font-weight: bold;
  color:green;
  text-align: center;
}
.private{
  font-weight: bold;
  color: #A22133;
  text-align: center;
}
.customTable button{
  margin: 0;
}
.delete{
  display: inline-block;
}
a.tooltip{
  position: relative;
  display: inline-block;
}
span.tooltipContent{
  display: none;
  visibility: hidden;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: 100px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltipContent::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltipContent {
    display: block;
    visibility: visible;
    opacity: 1;
}
.tooltipContent img{
  width: 200px;
  height: auto;
  border-radius: 12px;
  background-color: #A22133;
}
.type{
  display: block;
  width: 30px;
  height: auto;
  margin: 0;
}
.icon{
  display: block;
  float:left;
  width: 30px;
  height: auto;
  margin:2px 2.5px 0px 2.5px;
  cursor: pointer;
}
.icon:hover{
  border: 2px solid red;
  border-radius: 50%;
  border-color: black;
}
