
/* Color palette:
  #222629- background
  #25274D
  #464866
  #AAABB8
  #2E9CCA
  #29648A
*/
body{
  background-color: white;/*#1B1716;/*#222629*/
  margin:0;
  padding: 0;
}
header.siteLogo{
  float: left;
}
.siteLogo p{
  padding: 12px 12px;
  margin:0;
  color: white;
  font-family: arial;
  font-size: 30px;
  border-right: .5px dashed #ACAA9E;
}
nav.siteNavigation{
  width: 100%;
  height:60px;
  background-color: #252120;/*#141414;#252120;#3b3e42;*/
  border-bottom:  .5px dashed #ACAA9E;
}
.siteNavigation ul{
  margin: 0;
}
.siteNavigation ul#leftMenu{
  padding: 0 0 0 0px;
  float: left;
}
.siteNavigation ul#leftMenu li{
  float: left;
  list-style: none;
  position: relative;
}
.siteNavigation ul#leftMenu li a{
  display: block;
  padding: 20px 5px 15px 5px;
  color: white;
  font-family: arial;
  font-size: 20px;
  text-decoration: none;
  font-style: italic;
}

.siteNavigation ul#leftMenu li ul{
  background-color: #252120;
  display: none;
  position: absolute;
  padding: 0;
  border-radius: 0 0 12px 12px;

}
.siteNavigation ul#leftMenu li:hover ul{
  display: block;
}
.siteNavigation ul#leftMenu li ul li{
  width: 180px;
}
.siteNavigation ul#leftMenu li ul li a{
  display: block;
  padding: 20px 10px;
  color: white;
  font-family: arial;
  font-size: 20px;
  text-decoration: none;
}
.siteNavigation ul#leftMenu li ul li:last-child a{
  border-radius: 0 0 12px 12px;
}

.siteNavigation  a:hover{
  background-color: #A22133;
}
.siteNavigation ul#rightMenu{
  padding: 0 0px 0 0;
  float: right;
}
.siteNavigation ul#rightMenu li{
  float: left;
  list-style: none;
  padding: 0 10px;
  position: relative;
}
.siteNavigation ul#rightMenu li p{
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.siteNavigation ul#rightMenu li p span{
  color:#e0213c;
  font-size: 20px;
  font-style: italic;
}
.siteNavigation ul#rightMenu li img{
  padding: 5px 10px 0 0;
  width: 50px;
  height: auto;
  cursor: pointer;
}
.siteNavigation ul#rightMenu li ul{
  display:none;
  background-color: #252120;
  position: absolute;
  right: 0;
  border-radius: 0 0 12px 12px;
  padding: 0;
}
.siteNavigation ul#rightMenu li:hover ul{
  display: block;
}
.siteNavigation ul#rightMenu li ul li{
  display: block;
  padding: 0;
}
.siteNavigation ul#rightMenu li ul li a{
  display: block;
  width: 60px;
  padding: 10px 20px;
  color: white;
  font-family: arial;
  font-size: 20px;
  text-decoration: none;
  font-style: italic;
}
.siteNavigation ul#rightMenu li ul li:last-child a{
  border-radius: 0 0 12px 12px;
}
a.active{
  background-color: #A22133;
}
div.mainContent{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}
div table{
  display: block;
  align-self: baseline;
  border: .5px dashed red;
}
div table tr:nth-child(odd){
  background-color: #ffdbe0;
}
.shared{
  font-weight: bold;
  color:green;
  text-align: center;
}
.private{
  font-weight: bold;
  color: #A22133;
  text-align: center;
}
button{
  margin: 0;
}
.delete{
  display: inline-block;
}
